.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }


  html {
    box-sizing: border-box;
  }
  
  :root {
    --primary-text-color: #212121;
    --secondary-text-color: rgba(117, 117, 117, 1);
    --primary-title-color: #212121;
    --secondary-title-color: #ffffff;
    --link-color: #757575;
    --primary-button-color: rgba(33, 33, 33, 1);
    --secondary-button-color: rgba(255, 255, 255, 0.6);
    --primary-background-button: #f5f4fa;
    --secondary-background-button: #188ce8;
    --accent-color: rgba(33, 150, 243, 1);
    --logo-color: #2196f3;
    --icon-color: rgba(175, 177, 184, 1);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  p,
  li {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    // height: auto;
  }
  
  ul {
    padding-inline-start: 0;
    margin: 0;
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    display: block;
    text-decoration: none;
  }

  
  