
.example__list { 
    display: flex;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
     } 
    
    
    .example__item { 
     position: relative; 
    margin-left: 30px; 
    .example__list &:first-child { 
        margin-left: 0; 
       } 
     } 
    
    .example__text-box { 
    display: block; 
    position: absolute; 
    bottom: 0; 
    width: 370px; 
    padding-top: 27px; 
    padding-bottom: 27px; 
    background: rgba(47, 48, 58, 0.8); 
     } 
    
    .example__title { 
      @extend  %title;
    text-align: center; 
    color: var(--secondary-title-color); 
    }

    @media screen and (max-width: 1199.5px){
      .primary-title{
        display: none;
      }
      .example__list{
        display: none;
      }
    }
    