.footer {
    background-color: rgba(47, 48, 58, 1);
  
  }
  
  .footer__container{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  

       @media screen and (min-width: 768px), (max-width: 1199.5px){
        .footer__container{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }

        .footer__content{
          margin-right: 165px;
          margin-left: 76px;
          margin-bottom: 60px;
          text-align: center;
          justify-content: center;
        }
        .footer__title{
          margin-bottom: 5px;
        }

        .footer__social{
          margin-top: 5px;
        justify-content: center;
        text-align: center;
        }
        .footer-form{
          margin-left: auto;
          margin-right: auto;
        }
       }


       @media screen and (max-width: 767.5px){
        .footer__container {
            display: flex;
            flex-direction: column;
              }
            .footer__content{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 60px;
             }
           .footer__social {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: space-between;
          margin-bottom: 60px;
            }
    
            .logo-footer{
          display: inline-block;
          margin-bottom: 20px;
            }
    
            .contact__address{
          display: inline-block;
          color: #fff;
          line-height: 1.71;
          letter-spacing: 0.03em;
             }
             .footer-form {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0 auto;
             }
           }



       @media screen and (min-width: 1200px){
        .footer__container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            display: flex;
              align-items: baseline;
            }

            .footer__content{
              margin-left: 0;
              margin-bottom: 0;
              margin-right: 70px;
               text-align: start;
               justify-content: center;
             } 

            .contact__item{
              justify-content: start;
            }

            .footer-form{
              display: flex;
              flex-direction: column;
              margin-top: 5px;
              margin-right: 0;
              }

           .footer__list-contact{
              font-style: normal;
              margin-top: 20px;
            }

            .footer__title{
              margin-right: auto;
            }

            .footer-form__button{
             margin-right: 0;
            }
            .footer-form__send{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }
       }
    
       @media screen and (max-width: 480px){
        .footer__container{
          width: 100%;
        }
      }




  .logo-accent-footer{
    color: #fff;
  }
  
  .contact__address {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    text-decoration: none;
        &.footer-address:hover,
        &:focus {
        color: var(--secondary-title-color);
     }
  }
  
 .contact__item {
    margin-top: 0;
   margin-bottom: 9px;
   font-style: normal;
   
  }

 .contact__link-footer{
    @extend %afterText;
    color: var(--secondary-button-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: var(--secondary-title-color);
  }
  }

  // @media screen and (min-width: 1200px){
  //   .footer__social {
  //      display: flex;
  //      flex-direction: column;
  //      text-align: center;
  //      justify-content: space-between;
  //     }
  //     .footer-form__button{
  //       margin-top: 0;
  //     }
  // }

  .footer__social-list {
    margin: 0 auto;
    display: flex;
    width: 206px;
    }
  
  .footer__item {
      & + &{
        margin-left: 10px;
    }
  }
  
  .footer__social-link {
       @extend  %social-link;
       background: rgba(255, 255, 255, 0.1);

  }

  .footer__social-icon {
    fill: var(--primary-background-button);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
   .footer__title {
    @extend %title;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
 
  // .footer-form {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
    
  // }


  @media screen and (min-width: 767.5px),(max-width: 1199.5px){
    .footer-form {
    display: flex;
      flex-direction: column;
      text-align: center;
      }
  }


  .footer-form__input {
   align-items: stretch;
    height: 50px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin: 0;
    padding: 15px 16px;
    background-color: inherit;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
         &:hover,
         &:focus {
         border-color: rgba(33, 150, 243, 1);
         outline: none;
  }
        
  }

  
 
  @media screen and (min-width: 480px),(max-width: 1199.5px){
    .footer-form__input {
        width: 450px;
        padding-left: 16px;
       margin-bottom: 20px
       }
   }
  

   @media screen and (min-width: 1200px){
    .footer-form__input {
        width: 358px;
        margin-right: 12px;
        padding-left: 15px;
        margin-bottom: 0;
       }
      
   }

   @media screen and (max-width: 479.5px){
    .footer-form__input{
     width: 100%;
}
}

  .footer-form__button {
    @extend %button;
   display: flex;
    justify-content: space-between;
    padding: 10px 29px;
  }
  
  .footer-form__icon {
    fill: #ffffff;
    margin-right: 0;
  }