.hero {
  max-width: 1600px;
  width: 100vw;
   padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}


@media screen and (max-width: 767.5px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobil.jpg);
    }
}

@media screen and (max-width: 767.5px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi),
screen and (max-width: 768px) and (min-resolution: 2dppx){
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobil@2x.jpg );
    }
}



@media screen and (min-width: 768px) and (max-width: 1199.5px){
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
    }
}


@media screen and (min-width: 768px) and (max-width: 1199.5px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.5px)and (min-resolution: 192dpi),
 screen and (min-width: 768px) and (min-resolution: 2dppx){
  .hero{
     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2.jpg);
  }
}
  
@media screen and (min-width: 1200px) {
  .hero {
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),  screen and (min-width: 1200px) and (min-resolution: 192dpi),
 screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2.jpg);
  }
}


.hero__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}


@media screen and (min-width: 480px){
  .hero__title{
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 700px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

 .hero__button {
@extend %button;
margin-top: 30px;
}
