
  
  .project__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin: -15px;
  }
  
  
  .project__item {
    width: 370px;
    margin: 15px;
        &:hover,
        &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

  

  @media screen and (min-width: 768px) and (max-width:1199.5px){
    .project__item {
      width: calc((100% - 2 * 30px) / 2);
      height: 404px;
    }
  }

  @media screen and (max-width: 768px){
    .project__item {
      flex-direction: column;
      width: 450px;
    height: 404px;
    }
  }

  @media screen and (min-width: 1200px){
    .project__item {
      width: calc((100% - 3 * 30px) / 3);
      height: 404px;
    }
  }
  
  .portfolio__img {
    display: block;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    .portfolio__img {
      width: 354px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .portfolio__img {
      width: 370px;
    }
  }
  
  
  .project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    margin-left: 24px;
    margin-top: 20px;
  }
  
  .project__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-left: 24px;
    margin-top: 4px;
  }
  
  .project__box {
    padding-bottom: 20px;
    border: 1px solid #eeeeee;
  }
 


  .project__item-wrap {
    position: relative;
    overflow: hidden;
  }
  
  
  .project__top-text {
    position: absolute;
    color: var(--secondary-title-color);
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    left: 0;
    // top: 0;
    bottom: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
         .project__link:hover &,
         .project__link:focus & {
         transform: translateY(0);
        
  }
  }

  @media screen and (max-width: 479.5px) {
    .project__top-text {
      overflow-y: scroll;
      padding: 24px 77px;
    }
  }

  