.section__team {
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f4fa;
  }
  
  .container__team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  @media screen and (min-width: 1200px) {
    .container__team {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .team__list {
    margin-left: auto;
    margin-right: auto;
    margin: -15px;
  }
  
  @media screen and (min-width: 767.5px), (max-width: 1200px) {
    .team__list {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .team__list {
      display: flex;
    }
  }


  .card-team__item {
    display: block;
    margin: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  @media screen and (max-width: 767.5px) {
    .card-team__item {
      // width: 450px;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    .card-team__item {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .card-team__item {
      width: calc((100% - 4 * 30px) / 4);
    }
    // .card-team__item:not(:last-child) {
    //   margin-right: 30px;
    // }
  }
  
  .team__img {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  
  
  @media screen and (min-width: 767.5px), (max-width: 1199.5px) {
    .team__img {
      width: 354px;
      height: 374px;
    }
  }

  @media screen and (max-width: 768px){
    .team__img {
      width: 450px;
      height: 460px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .team__img {
      width: 270px;
      height: 260px;
    }
  }
  
  .primary-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  @media screen and (min-width: 1200px) {
    .primary-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      justify-content: center;
      letter-spacing: 0.03em;
      color: var(--primary-title-color);
      margin-top: 0;
      margin-bottom: 50px;
    }
  }
  
  .card-team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    text-align: center;
  }
  
  .card-team__after-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-top: 10px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  
  
  .card-team__container {
    background: var(--secondary-title-color);
    padding-top: 30px;
    padding-bottom: 24px;
   }
  
  
  @media screen and (min-width: 1200px){
    .card-team__container{
     padding-bottom: 30px;
    }
    
  }

  
  .card-team__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
  }
  
  // .social__item:not(:last-child){
  //   margin-right: 10px;
  // }
  
  .card-team__social-link {
    // width: 100%;
    // height: 100%;
    border-radius: 50%;
    // color: transparent;
    // display: flex;
    // justify-content: center;
    // align-items: center;
   
  }

  .card-team__social-link {
    &:focus,
    &:hover{
      color:var(--logo-color) ;
    }
    width: 44px;
    height: 44px;
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  
  .team-social-icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .card-team__social-link:hover &,
    .card-team__social-link:focus & {
      fill: white;
    }
  }
  
  // .social-item:not(:last-child) {
  //   margin-right: 10px;
  // }
  
  .card-team__social-link {
    @extend %social-link;
    fill: var(--link-color);
  }