.section__works {
  margin-left: auto;
  margin-right: auto;
   padding-top : 94px;
    padding-bottom : 94px;
     } 
  
     @media screen and (max-width: 1199.5px){
      .section__works {
        padding-top : 60px;
    padding-bottom : 60px;
      }
      
     }
     

   @media screen and (max-width:767px){
    .works__list{
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
      }
  }
   
  @media screen and (min-width: 768px),(max-width:1199.5px){
    .works__list{
     display: flex;
      flex-wrap: wrap;
         }
      }

      @media screen and (min-width:1200px){
        .works__list{
          display: flex;
          flex-wrap: nowrap;
        }
      }


  .works__box{
    height: 120px;
    display:flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    }


    .works__item{
   display: block;
   }
     
   
    @media screen and (min-width: 1200px){
      .works__item{
          flex-basis: calc((100% - 3 * 30px) / 4);
      }
      .works__item:not(:last-child){
        margin-right: 30px;
      }
   }


  
    @media screen and (min-width: 768px),(max-width: 1199.5px){
      .works__item{
        flex-basis: calc((100% - 2 * 30px) / 2);
       }
      .works__item:not(:last-child){
        margin-bottom: 30px;
      }

      .works__item:not(:last-child){
        margin-right: 30px;
      }
     }
  
  @media screen and (max-width: 768px){
       .works__item:not(:last-child){
        margin: 0 0 30px 0;
         }
       
     }
    
     .works__title {
      @extend %title;
      text-align: start;
      color: var(--primary-title-color);
      margin-bottom: 10px;
      }

      @media screen and (max-width: 768px){
        .works__title{
          text-align: center;
        }
      }

    
    .works__after-title {
      @extend %afterText;
     color: var(--secondary-text-color);
    }

  
   